$color-accent-primary: #ffb82d;
$color-accent-primary-hover: #f2b417;
$color-accent-secondary: #eb9e0a;
$color-primary: #2d3448;
$color-light: #ffffff;
$color-bg: #fffaf2;
$color-bg-dark: #394155;
$color-error: #da3a3a;
$color-success: #22b81d;

$base-font-family: 'Roboto Slab', Arial, sans-serif;
$base-font-weight: 400;
$base-font-size: 1.8rem;

$base-transition: 80ms all ease-in-out;