@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.button {
  padding: 10px 30px;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: $color-accent-primary;
  border-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  @include transition($base-transition);
}

.button:hover {
  background-color: $color-accent-primary-hover;
}