@use '../../sass/variables' as *;

.add-news {
  width: 100%;
  padding: 60px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: $color-bg-dark;
  color: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.add-news__title {
  font-size: 2.4rem;
}

.add-news__form {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.add-news__inputs-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 140px;
}

.add-news__input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  color: $color-bg-dark;
  font-size: 1.6rem;
  border-radius: 20px;
  border: none;
}

.add-news__input:focus {
  outline: 3px solid $color-accent-primary;
}

.add-news__input--text-area {
  resize: none;
}

.add-news__message {
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 500;
}

.add-news__message--error {
  color: $color-error;
}

.add-news__message--success {
  color: $color-success;
}

.add-news__submit-button {
  margin: 20px 0;
  width: 200px;
}

.add-news__privacy {
  font-size: 1.2rem;
  font-weight: 400;
  width: 380px;
  text-align: center;
  line-height: 150%;
}

.add-news__link {
  color: $color-accent-secondary;
  text-decoration: none;
}