@use '../../sass/variables' as *;

.news {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.news__title {
  text-align: center;
}

.news__search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  color: $color-bg-dark;
  font-size: 1.6rem;
  border-radius: 20px;
  border: 1px solid $color-accent-primary;
}

.news__search-input:focus {
  outline: 3px solid $color-accent-primary;
}

.news__not-found-message {
  font-size: 2.4rem;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}