@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.header {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__personal-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user-name {
  font-weight: 700;
  line-height: 200%;
  cursor: pointer;
  @include transition(80ms all ease-in-out);
}

.header__user-name:hover {
  color: $color-accent-primary;
}