@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__user-name {
  font-weight: 700;
  padding-right: 30px;
  cursor: pointer;
  @include transition(80ms all ease-in-out);
}

.header__user-name:hover {
  color: $color-accent-primary;
}