@use '../../sass/variables' as *;

.login-popup {
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 50px 20px 40px 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-light;
  border-radius: 8px;
}

.login-popup__close-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  right: -25px;
  padding: 0;
  line-height: 100%;
  border-radius: 50%;
}

.login-popup__close-button:hover {
  background-color: $color-accent-primary-hover;
}

.login-popup__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup__input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-popup__input-label {
  display: flex;
  min-width: 80px;
}

.login-popup__text-input {
  border-radius: 8px;
  border: 1px solid $color-accent-primary;
  padding: 10px 15px;
}

.login-popup__text-input:focus {
  outline: 2px solid $color-accent-primary;
}

.login-popup__error-message {
  margin: 0 auto;
  color: $color-error;
  font-size: 1.4rem;
  font-weight: 500;
}

.login-popup__submit-button {
  margin: 20px auto 0 auto;
}